---
- name: Enable EPEL
  yum_repository:
    name: epel
    state: present
    description: EPEL Yum repo
    baseurl: https://dl.fedoraproject.org/pub/epel/$releasever/$basearch/
    proxy: "{{ configure_katello_proxy | default(omit) }}"
    proxy_username: "{{ configure_katello_proxy_username | default(omit) }}"
    proxy_password: "{{ configure_katello_proxy_password | default(omit) }}"
    gpgkey: https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-$releasever

- name: Install pip
  package:
    name: python-pip
    state: present

- name: Install nailgun
  pip:
    name: "{{ configure_katello_nailgun_package }}"
    version: "{{ configure_katello_nailgun_version | default(omit) }}"
    virtualenv: "{{ configure_katello_virtualenv | default(omit) }}"
    extra_args: "{{ (configure_katello_proxy is defined) | ternary('--proxy ' + (configure_katello_proxy | urlsplit('scheme')) + '://' + configure_katello_proxy_username + ':' + configure_katello_proxy_password + '@' + (configure_katello_proxy | urlsplit('hostname')) + ':' + (configure_katello_proxy | urlsplit('port') | string), '') }}"
